body {
  background-color: black;
}

/* make img centered and transparent */
.ninja {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.ninja:hover {
  opacity: 1;
}

.links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.icon {
  height: 50px;
  margin-bottom: 10px;
}